    @media (min-width: 31.5em) {
        .header-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .navopen {
            width: 30%;
        }
        #header-date {
            background-color: #09384d;
            width: 900px;
        }
        .logo {
            border: 40px;
            padding: 20px;
        }
        main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 105%;
        }
        .welcome {
            position: relative;
            left: 10px;
            right: 10px;
            bottom: 270px;
            font-size: 50px;
        }
        .action {
            position: relative;
            left: 60px;
            font-size: 30px;
            bottom: 270px;
            width: fit-content;
            color: #EDFFEC;
            background-color: #0D1321;
            padding: 10px;
            border-radius: 30px;
        }
        #main_hero {
            grid-column: 1/3;
            grid-row: 1/2;
            margin: 10px;
        }
        #main_news {
            grid-column: 1/3;
            grid-row: 2/3;
            height: 250px;
        }
        #main_spotlight {
            grid-column: 1/3;
            grid-row: 3/4;
            display: flex;
            flex-direction: row;
            height: 380px;
        }
        #main_spotlight div {
            width: 49%;
            height: 97%;
        }
        #main_join {
            grid-column: 1/3;
            grid-row: 4/5;
            display: inline;
        }
        #main_event {
            grid-column: 1/2;
            grid-row: 5/6;
            height: 350px;
        }
        .event,
        .event_1,
        .event_2 {
            margin: 22px;
        }
        .weather {
            margin: -3px;
        }
        .weather_2 {
            margin: 0px;
        }
        .weather_3 {
            margin: 0px;
        }
        #main_weather {
            grid-column: 2/3;
            grid-row: 5/6;
            width: 90%;
            height: 350px;
        }
        /*----------- DISCOVER PRIMARY CSS --------------*/
        #discover {
            font-family: dongle;
            font-size: 60px;
            grid-column: 1/2;
            grid-row: 1/2;
            padding: -55%;
            margin: -1%;
            margin-right: -90%;
            margin-bottom: 20px;
        }
        .section_1,
        .section_2,
        .section_3,
        .section_4,
        .section_5,
        .section_6,
        .section_7,
        .section_8,
        .section_9 {
            font-family: dongle;
            font-size: 30px;
            text-align: center;
            padding: 10px;
            margin: 50px;
            padding-top: 15px;
            margin-bottom: 200px;
            background-color: #0D1321;
            border-radius: 10px;
            color: #EDFFEC;
            align-items: center;
        }
        .section_10 {
            font-family: dongle;
            font-size: 30px;
            text-align: center;
            padding: 10px;
            margin: 50px;
            background-color: #0D1321;
            border-radius: 10px;
            color: #EDFFEC;
            align-items: center;
        }
        .image_1,
        .image_2,
        .image_3,
        .image_4,
        .image_5,
        .image_6,
        .image_7,
        .image_8,
        .image_9 {
            border-radius: 10px;
            padding: 50px;
            margin-bottom: 200px;
        }
        .image_1,
        .section_1 {
            margin-bottom: 150px;
        }
        .main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 2px;
        }
        .image_1 {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .section_1 {
            grid-column: 3/3;
            grid-row: 1/2;
        }
        .image_2 {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .section_2 {
            grid-column: 3/3;
            grid-row: 2/3;
        }
        .image_3 {
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .section_3 {
            grid-column: 3/3;
            grid-row: 3/4;
        }
        .image_4 {
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .section_4 {
            grid-column: 3/3;
            grid-row: 4/5;
        }
        .image_5 {
            grid-column: 1/2;
            grid-row: 5/6;
        }
        .section_5 {
            grid-column: 3/3;
            grid-row: 5/6;
        }
        .image_6 {
            grid-column: 1/2;
            grid-row: 6/7;
        }
        .section_6 {
            grid-column: 3/3;
            grid-row: 6/7;
        }
        .image_7 {
            grid-column: 1/2;
            grid-row: 7/8;
        }
        .section_7 {
            grid-column: 3/3;
            grid-row: 7/8;
        }
        .image_8 {
            grid-column: 1/2;
            grid-row: 8/9;
        }
        .section_8 {
            grid-column: 3/3;
            grid-row: 8/9;
        }
        .image_9 {
            grid-column: 1/2;
            grid-row: 9/10;
        }
        .section_9 {
            grid-column: 3/3;
            grid-row: 9/10;
        }
        .section_10 {
            grid-column: 1/3;
            grid-row: 10/11;
        }
        .discimg[data-src] {
            filter: blur(0.5em);
            width: 400px;
        }
        .discimg {
            width: 400px;
            filter: blur(0em);
            transition: filter 3s;
        }
        .discimg:hover {
            filter: invert(20%);
        }
        #days {
            background-color: #0D1321;
            color: #EDFFEC;
            font-size: 35px;
            border-radius: 10px;
            text-align: center;
            padding-top: 40px;
        }
        /*----------- JOIN PRIMARY CSS --------------*/
        .join_main {
            display: flex;
            flex-direction: column;
            justify-items: auto;
            align-items: center;
            margin: 0 auto;
        }
        #membership_div,
        #busform {
            color: #0D1321;
            font-size: 35px;
            border-radius: 10px;
            text-align: center;
        }
        #mem_plan {
            color: #0D1321;
            font-size: 35px;
            border-radius: 10px;
            text-align: center;
            margin-left: 100px;
        }
        #joinheadline {
            color: #0D1321;
            font-size: 55px;
            text-align: center;
        }
        .submitBtn {
            color: #EDFFEC;
            background-color: #0D1321;
            font-size: 35px;
            border-radius: 30px;
            text-align: center;
        }
        .center {
            margin-left: 250px;
        }
        #membership_div {
            border: 2px solid grey;
        }
        .text,
        #description,
        .tel,
        .email,
        .url {
            border-radius: 10px;
        }
        .levels,
        .levelpara {
            margin: 5px;
            font-size: 30px;
        }
        #membership {
            margin: 8px;
            font-size: 45px;
        }
        .mem_1,
        .mem_2,
        .mem_3,
        .mem_4 {
            display: flex;
            flex-direction: row;
            margin: 12px;
            margin-left: 25px;
        }
        .radio_1,
        .radio_2,
        .radio_3,
        .radio_4 {
            margin: 11px;
        }
    }